.c-slider-container {
  width: 100%;
}

.c-slider {
  width: 100%;
}

.c-lottie-slide {
  display:flex;
  justify-content:center;
  align-items:baseline; 
}
body .lightbox, body .lightboxOverlay{
  z-index: 10000001;
}
@media (min-width: 992px) {
  .c-lottie-slide {
    display:block;
  }
}


.slick-slide.hidden {
  display: none !important;
}

{# THIS IS THE SLICK SLIDER CSS FOR FUNCTIONALITY #}
.c-slider .slick-dots li {
  width: 30px;
  height: 3px;
  border-radius: 0;
}

.c-slider .slick-dots li.is-selected { 
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.c-slider .slick-dots {
  position: static;
  margin-top: 25px;
}

.c-slider .slick-arrow:focus{ outline: none;}
.c-slider .slick-arrow:hover{ opacity:0.4;}

.c-slider button.slick-prev,
.c-slider button.slick-next {
  position: absolute;
  top: 53%;
  margin-top: -31px;
  border-radius: 0;
  background: transparent;
}


.c-slider button.slick-prev { 
  left: -30px; 
  transform: rotate(45deg);
}
.c-slider button.slick-next { 
  right: -30px; 
  transform: rotate(-135deg);
}

.c-slider button.slick-prev svg,
.c-slider button.slick-next svg {
  display: none; 
}


body .clean-base .cc-large-container{
  padding-left: 50px;
  padding-right: 50px;
}


@media(max-width: 767px){
  body .clean-base .cc-large-container{
    padding-left: 30px;
    padding-right: 30px;
  }
  .c-slider-container .slick-prev:before,
  .c-slider-container .slick-next:before{
    content:'';
  }
  .cc-large-container .c-slider-container .c-slider button.slick-prev,
  .cc-large-container .c-slider-container .c-slider button.slick-next{
    max-width: 25px;
    max-height: 25px;
  }
  .c-slider button.slick-prev{
    left: -18px;
  }
  .c-slider button.slick-next{
    right: -18px;
  }
  .c-slider button.slick-prev, 
  .c-slider button.slick-next{
    top: calc(50% + 17.5px);
  }
}